{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 160,
  "semi": false,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "trailingComma": "all"
}
